In [1]:
import pandas as pd
import numpy as np

# Criação de um DataFrame com valores ausentes
data = {
    'A': [1, 2, np.nan, 4, 5],
    'B': [np.nan, 2, 3, np.nan, 5],
    'C': [1, 2, 3, 4, 5]
}
df = pd.DataFrame(data)

print("DataFrame original:")
print(df)

DataFrame original:
     A    B  C
0  1.0  NaN  1
1  2.0  2.0  2
2  NaN  3.0  3
3  4.0  NaN  4
4  5.0  5.0  5

In [3]:
# Remover linhas com quaisquer valores NaN
df_dropped = df.dropna()

print("\nDataFrame após remover linhas com valores NaN:")
print(df_dropped)

DataFrame após remover linhas com valores NaN:
     A    B  C
1  2.0  2.0  2
4  5.0  5.0  5

In [5]:
df

     A    B  C
0  1.0  NaN  1
1  2.0  2.0  2
2  NaN  3.0  3
3  4.0  NaN  4
4  5.0  5.0  5

In [9]:
# Remover colunas com quaisquer valores NaN
df_dropped_columns = df.dropna(axis=1)

print("\nDataFrame após remover colunas com valores NaN:")
print(df_dropped_columns)

DataFrame após remover colunas com valores NaN:
   C
0  1
1  2
2  3
3  4
4  5

In [11]:
df

     A    B  C
0  1.0  NaN  1
1  2.0  2.0  2
2  NaN  3.0  3
3  4.0  NaN  4
4  5.0  5.0  5

In [13]:
# Remover linhas se houver valores NaN nas colunas 'A' e 'B'
df_dropped_subset = df.dropna(subset=['A', 'B'])

print("\nDataFrame após remover linhas com NaN nas colunas 'A' e 'B':")
print(df_dropped_subset)

DataFrame após remover linhas com NaN nas colunas 'A' e 'B':
     A    B  C
1  2.0  2.0  2
4  5.0  5.0  5

In [15]:
df

     A    B  C
0  1.0  NaN  1
1  2.0  2.0  2
2  NaN  3.0  3
3  4.0  NaN  4
4  5.0  5.0  5

In [17]:
# Adicionando uma linha e uma coluna com todos os valores NaN
df.loc[5] = [np.nan, np.nan, np.nan]
df['D'] = np.nan

print("\nDataFrame original com linha e coluna adicionais de NaN:")
print(df)

# Remover linhas onde todos os valores são NaN
df_dropped_all_rows = df.dropna(how='all')

print("\nDataFrame após remover linhas onde todos os valores são NaN:")
print(df_dropped_all_rows)

# Remover colunas onde todos os valores são NaN
df_dropped_all_columns = df.dropna(how='all', axis=1)

print("\nDataFrame após remover colunas onde todos os valores são NaN:")
print(df_dropped_all_columns)

DataFrame original com linha e coluna adicionais de NaN:
     A    B    C   D
0  1.0  NaN  1.0 NaN
1  2.0  2.0  2.0 NaN
2  NaN  3.0  3.0 NaN
3  4.0  NaN  4.0 NaN
4  5.0  5.0  5.0 NaN
5  NaN  NaN  NaN NaN

DataFrame após remover linhas onde todos os valores são NaN:
     A    B    C   D
0  1.0  NaN  1.0 NaN
1  2.0  2.0  2.0 NaN
2  NaN  3.0  3.0 NaN
3  4.0  NaN  4.0 NaN
4  5.0  5.0  5.0 NaN

DataFrame após remover colunas onde todos os valores são NaN:
     A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  2.0
2  NaN  3.0  3.0
3  4.0  NaN  4.0
4  5.0  5.0  5.0
5  NaN  NaN  NaN