In [1]:
from absenteeism_module import *

model = absenteeism_model('model', 'scaler')

model.load_and_clean_data('Absenteeism_new_data.csv')

df_new_obs = model.predicted_outputs()
df_new_obs.to_csv(r'Absenteeism_predictions.csv', index = True)
df_new_obs

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets,Probability,Prediction
0,0,0.0,0,1,6,179,30,19,1,0,0,0.462915,0
1,1,0.0,0,0,6,361,28,27,0,1,4,0.692057,1
2,0,0.0,0,1,6,155,34,25,0,2,0,0.258066,0
3,0,0.0,0,1,6,179,40,22,1,2,0,0.411592,0
4,1,0.0,0,0,6,155,34,25,0,2,0,0.712007,1
5,1,0.0,0,0,6,225,28,24,0,1,2,0.737730,1
6,1,0.0,0,0,6,118,46,25,0,2,0,0.821531,1
7,0,0.0,0,1,6,179,30,19,1,0,0,0.462915,0
8,0,0.0,0,1,6,118,37,28,0,0,0,0.382517,0
9,1,0.0,0,0,6,118,37,28,0,0,0,0.814923,1
10,0,0.0,0,1,6,378,36,21,0,2,4,0.310808,0
11,0,0.0,1,0,6,118,50,31,0,1,0,0.877630,1
12,0,0.0,1,0,6,233,31,21,1,1,8,0.941359,1
13,0,0.0,0,1,6,179,30,19,1,0,0,0.462915,0
14,0,0.0,0,0,6,235,48,33,0,1,5,0.278840,0
15,0,0.0,0,0,6,268,33,25,1,0,0,0.200815,0
16,0,0.0,1,0,6,118,50,31,0,1,0,0.877630,1
17,1,0.0,0,0,6,179,30,19,1,0,0,0.859674,1
18,0,0.0,0,1,6,291,40,25,0,1,1,0.319652,0
19,1,0.0,0,0,7,179,30,19,1,0,0,0.879256,1
20,0,0.0,0,1,7,118,37,28,0,0,0,0.424076,0
21,0,0.0,0,1,7,233,31,21,1,1,8,0.661984,1
22,1,0.0,0,0,7,118,37,28,0,0,0,0.839584,1
23,1,0.0,0,0,7,118,37,28,0,0,0,0.839584,1
24,0,0.0,0,1,7,233,31,21,1,1,8,0.661984,1
25,0,0.0,0,1,7,235,43,38,0,1,0,0.252104,0
26,0,0.0,1,0,7,233,31,21,1,1,8,0.950202,1
27,1,0.0,0,0,7,228,58,22,0,2,1,0.902845,1
28,0,0.0,0,1,7,118,37,28,0,0,0,0.424076,0
29,1,0.0,0,0,7,228,58,22,0,2,1,0.902845,1
30,0,0.0,0,1,7,189,33,25,0,2,2,0.322674,0
31,0,0.0,0,1,7,118,37,28,0,0,0,0.424076,0
32,0,0.0,0,1,7,361,28,27,0,1,4,0.273164,0
33,0,0.0,0,1,7,225,28,24,0,1,2,0.319911,0
34,1,0.0,0,0,7,369,31,25,0,3,0,0.536944,1
35,1,0.0,0,0,7,289,33,30,0,2,1,0.640912,1
36,1,0.0,0,0,7,235,37,29,1,1,1,0.823569,1
37,0,0.0,0,0,7,118,40,34,0,1,8,0.384864,0
38,0,0.0,0,0,7,231,39,35,0,2,2,0.127862,0
39,0,0.0,0,0,7,179,53,25,0,1,1,0.362675,0

In [2]:
import psycopg2

In [38]:
conn = psycopg2.connect("dbname=predicted_outputs user=paulo password=paulo")

In [39]:
cursor = conn.cursor()

In [40]:
cursor.execute("""CREATE TABLE predicted_outputs(
  reason_1 INT NOT NULL,
  reason_2 INT NOT NULL,
  reason_3 INT NOT NULL,
  reason_4 INT NOT NULL,
  month_value INT NOT NULL,
  transportation_expense INT NOT NULL,
  age INT NOT NULL,
  body_mass_index INT NOT NULL,
  education INT NOT NULL,
  children INT NOT NULL,
  pets INT NOT NULL, 
  probability FLOAT NOT NULL,
  prediction INT NOT NULL
);""")

conn.commit()

In [41]:
cursor.execute('SELECT * FROM predicted_outputs;')

<h2>Creating the INSERT Statement</h2>

In [42]:
df_new_obs.shape

(40, 13)

In [43]:
df_new_obs[df_new_obs.columns.values[6]][0]

30

In [44]:
df_new_obs['Age']

0     30
1     28
2     34
3     40
4     34
5     28
6     46
7     30
8     37
9     37
10    36
11    50
12    31
13    30
14    48
15    33
16    50
17    30
18    40
19    30
20    37
21    31
22    37
23    37
24    31
25    43
26    31
27    58
28    37
29    58
30    33
31    37
32    28
33    28
34    31
35    33
36    37
37    40
38    39
39    53
Name: Age, dtype: int64

In [45]:
insert_query = 'INSERT INTO predicted_outputs VALUES '
insert_values = []

for i in range(df_new_obs.shape[0]): 
    pred_value = ""
    for j in range(df_new_obs.shape[1]):
        if (j >= df_new_obs.shape[1]-1):
            pred_value += str(df_new_obs[df_new_obs.columns.values[j]][i])
        else:
            pred_value += str(df_new_obs[df_new_obs.columns.values[j]][i]) + ','
    insert_values.append('(' + pred_value + ')')
    
for i in insert_values:
    insert_query += i + ','

insert_query = insert_query[:-1] + ';'

In [46]:
insert_query

'INSERT INTO predicted_outputs VALUES (0,0.0,0,1,6,179,30,19,1,0,0,0.4629154125810592,0),(1,0.0,0,0,6,361,28,27,0,1,4,0.6920568416645273,1),(0,0.0,0,1,6,155,34,25,0,2,0,0.2580664067306477,0),(0,0.0,0,1,6,179,40,22,1,2,0,0.41159224965688074,0),(1,0.0,0,0,6,155,34,25,0,2,0,0.7120074377730655,1),(1,0.0,0,0,6,225,28,24,0,1,2,0.7377297285128885,1),(1,0.0,0,0,6,118,46,25,0,2,0,0.8215311841063364,1),(0,0.0,0,1,6,179,30,19,1,0,0,0.4629154125810592,0),(0,0.0,0,1,6,118,37,28,0,0,0,0.3825174091515326,0),(1,0.0,0,0,6,118,37,28,0,0,0,0.8149227163177581,1),(0,0.0,0,1,6,378,36,21,0,2,4,0.3108075853126189,0),(0,0.0,1,0,6,118,50,31,0,1,0,0.8776296519999293,1),(0,0.0,1,0,6,233,31,21,1,1,8,0.9413588781931107,1),(0,0.0,0,1,6,179,30,19,1,0,0,0.4629154125810592,0),(0,0.0,0,0,6,235,48,33,0,1,5,0.2788404315749376,0),(0,0.0,0,0,6,268,33,25,1,0,0,0.20081459319960088,0),(0,0.0,1,0,6,118,50,31,0,1,0,0.8776296519999293,1),(1,0.0,0,0,6,179,30,19,1,0,0,0.8596740344494647,1),(0,0.0,0,1,6,291,40,25,0,1,1,0.3196522847466333,0),(1,0.0,0,0,7,179,30,19,1,0,0,0.8792556162271733,1),(0,0.0,0,1,7,118,37,28,0,0,0,0.42407623125040217,0),(0,0.0,0,1,7,233,31,21,1,1,8,0.6619844876683433,1),(1,0.0,0,0,7,118,37,28,0,0,0,0.8395837760502209,1),(1,0.0,0,0,7,118,37,28,0,0,0,0.8395837760502209,1),(0,0.0,0,1,7,233,31,21,1,1,8,0.6619844876683433,1),(0,0.0,0,1,7,235,43,38,0,1,0,0.2521044490330919,0),(0,0.0,1,0,7,233,31,21,1,1,8,0.9502021476425382,1),(1,0.0,0,0,7,228,58,22,0,2,1,0.9028446621398006,1),(0,0.0,0,1,7,118,37,28,0,0,0,0.42407623125040217,0),(1,0.0,0,0,7,228,58,22,0,2,1,0.9028446621398006,1),(0,0.0,0,1,7,189,33,25,0,2,2,0.3226735105938979,0),(0,0.0,0,1,7,118,37,28,0,0,0,0.42407623125040217,0),(0,0.0,0,1,7,361,28,27,0,1,4,0.2731639061766444,0),(0,0.0,0,1,7,225,28,24,0,1,2,0.3199112093669077,0),(1,0.0,0,0,7,369,31,25,0,3,0,0.5369437920354985,1),(1,0.0,0,0,7,289,33,30,0,2,1,0.6409123117062295,1),(1,0.0,0,0,7,235,37,29,1,1,1,0.8235691209390469,1),(0,0.0,0,0,7,118,40,34,0,1,8,0.38486422864499253,0),(0,0.0,0,0,7,231,39,35,0,2,2,0.12786158252912683,0),(0,0.0,0,0,7,179,53,25,0,1,1,0.36267450815764457,0);'

In [47]:
cursor.execute(insert_query)

conn.commit()