## APPLIED STATISTICS

### Turma 10DTSR

### Trabalho prático usando Python
 
### Teste QuiQuadrado

### Exemplo

In [1]:
# Importar as bibliotecas
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


pd.options.display.float_format = "{:.2f}".format

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [3]:
# Importar os dados

df = pd.read_csv('BaseUFOperadora_csv.csv',sep=';')

In [5]:
df.head()

   id   UF Operadora
0   1   RJ       OP2
1   2  Sul       OP3
2   3   RJ       OP3
3   4   RJ       OP2
4   5   RJ       OP2

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1551 entries, 0 to 1550
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         1551 non-null   int64
 1   UF         1551 non-null   object
 2   Operadora  1551 non-null   object
dtypes: int64(1), object(2)
memory usage: 36.5+ KB

#### Comentários:

Abaixo realizamos os teste Chi-square e verificamos que as variáveis e ** ** possuem valor *p* menor que **α**=0.05. Desta forma, reijeitamos H₀ (estas variáveis possuem algum grau de associação entre si).

In [9]:
from scipy.stats import chi2_contingency
from scipy.stats import chi2

In [11]:
# Teste chi-square entre Uf e Operadora
table1 = pd.crosstab(df.UF,df.Operadora, margins=True)
table1

Operadora  OP1  OP2  OP3  OP4   All
UF
RJ         111  304  139   48   602
SP         214  237   78  119   648
Sul         51  102  126   22   301
All        376  643  343  189  1551

In [13]:
chi2_contingency(table1)

Chi2ContingencyResult(statistic=173.37872828220557, pvalue=9.714456287968167e-31, dof=12, expected_freq=array([[ 145.93939394,  249.5718891 ,  133.1308833 ,   73.35783366,
         602.        ],
       [ 157.09090909,  268.64216634,  143.30367505,   78.96324952,
         648.        ],
       [  72.96969697,  124.78594455,   66.56544165,   36.67891683,
         301.        ],
       [ 376.        ,  643.        ,  343.        ,  189.        ,
        1551.        ]]))

In [15]:
stat, p, dof, expected = chi2_contingency(table1)

In [17]:
print ('tabela cruzada entre Operadora e UF', '\n ' ,'\n ' , table1)

tabela cruzada entre Operadora e UF

  Operadora  OP1  OP2  OP3  OP4   All
UF
RJ         111  304  139   48   602
SP         214  237   78  119   648
Sul         51  102  126   22   301
All        376  643  343  189  1551

In [19]:
print ('tabela Esperada entre Operadora e UF', '\n ' ,'\n ' , expected)

tabela Esperada entre Operadora e UF

  [[ 145.93939394  249.5718891   133.1308833    73.35783366  602.        ]
 [ 157.09090909  268.64216634  143.30367505   78.96324952  648.        ]
 [  72.96969697  124.78594455   66.56544165   36.67891683  301.        ]
 [ 376.          643.          343.          189.         1551.        ]]

In [21]:
print ('Valores do teste', '\n  stat:', stat,'\n  p_value:', p, '\n  dof:', dof)

Valores do teste
  stat: 173.37872828220557
  p_value: 9.714456287968167e-31
  dof: 12

#### Comentários:

Abaixo realizamos uma outra forma de teste Chi-square.

In [23]:
!pip install researchpy
import researchpy

Collecting researchpy
  Downloading researchpy-0.3.6-py3-none-any.whl.metadata (1.2 kB)
Requirement already satisfied: scipy in /opt/anaconda3/lib/python3.12/site-packages (from researchpy) (1.13.1)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.12/site-packages (from researchpy) (1.26.4)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (from researchpy) (2.2.2)
Requirement already satisfied: statsmodels in /opt/anaconda3/lib/python3.12/site-packages (from researchpy) (0.14.2)
Requirement already satisfied: patsy in /opt/anaconda3/lib/python3.12/site-packages (from researchpy) (0.5.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas->researchpy) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas->researchpy) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas->researchpy) (2023.3)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.12/site-packages (from patsy->researchpy) (1.16.0)
Requirement already satisfied: packaging>=21.3 in /opt/anaconda3/lib/python3.12/site-packages (from statsmodels->researchpy) (23.2)
Downloading researchpy-0.3.6-py3-none-any.whl (34 kB)
Installing collected packages: researchpy
Successfully installed researchpy-0.3.6

In [25]:
# # Teste chi-square entre UF e Operadora

results = researchpy.crosstab(df['UF'],df['Operadora'], test='chi-square')
results

(          Operadora
 Operadora       OP1  OP2  OP3  OP4   All
 UF
 RJ              111  304  139   48   602
 SP              214  237   78  119   648
 Sul              51  102  126   22   301
 All             376  643  343  189  1551,
                 Chi-square test  results
 0  Pearson Chi-square ( 6.0) =    173.38
 1                    p-value =      0.00
 2                 Cramer's V =      0.24)

## Sobre o O Cramer's V:

V de Cramer é uma medida estatística que avalia a força da relação entre duas variáveis categóricas. 
É também conhecido como coeficiente de Cramer ou phi de Cramer. 
O V de Cramer é usado em tabelas de contingência, onde as variáveis são classificadas em categorias.
 É uma medida de correlação baseada na estatística qui-quadrado de Pearson. 
O V de Cramer varia de 0 a 1, sendo que 0 indica nenhuma associação e 1 indica uma associação perfeita.